.container {
    margin: 30px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.226);
    width: 400px
}

.uart_terminal {
    border: 1px solid gray;
    width: 400px;
    height: 400px;
    word-wrap:break-word;
    overflow-y: scroll;
}

#all_sliders
{
    display: inline-block;
    position: absolute;
    left: 500px;
}

.container_grip_slider{
    width: 20px;
}

.container_finger_slider{
    padding: 10px;
}

.container_slider_group
{
    display: inline-block;
    padding: 10px;
    margin: 0px 22px;
}

#grip_slider_group {
    width: 50px;
}

#finger_slider_group {
    width: 220px;
    margin-left: 10px;
}

.container_slider_and_label {
    margin: 5px;
    width: 40px;
    display: inline-block;
}

.class_slider {
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical; 
    width: 7px;
    height: 175px;
    padding: 0 15px;
}

.label_slider {
    position: relative;
    left: 12px;
}


.container_nrt_commands {
    position: absolute;
    left: 500px;
    top: 350px;
}