/**< Defaults */

button,input[type=submit] {
    border: 1px solid gray;
    border-radius: 3px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

legend {
    font-size: 15px;
    font-weight: bold;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


/* Header */

header {
    background-color: rgba(219, 222, 223, 0.384);
    margin-bottom: 20px;
}

header div {
    padding: 10px;
}

header label {
    padding-left: 20px;
}

#btn_connect {
    width: 90px;
    height: 30px;
    background-color: rgba(161, 158, 158, 0.479);
    border-style: none;
}

#btn_connect:hover {
    background-color: rgba(161, 158, 158, 0.658);
}

#btn_connect:active {
    background-color: rgba(161, 158, 158, 0.804);
}


/* Card */

.card {
    max-width: 700px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.226);
    margin-bottom: 20px;
}

.scroll_box {
    border: 1px solid gray;
    height: 150px;
    word-wrap:break-word;
    overflow-y: scroll;
    font-family: monospace;
}

/* Command Request */

#commands_key{
    font-size: 12px;
    font-family: Arial;
    padding-bottom: 2px;
}

.container_requests {
    display: flex;
    margin-top: 8px;
}

.label_0x {
    font-size: 14px;
    padding-top: 2px;
    padding-right: 2px;
}

.cmd_field,.len_field {
    width: 30px
}

.payload_field {
    flex-grow: 1;
}

.btn_enter_request {
    margin-left: 4px;
}


/* File Manager */

#fm_header {
    display: flex;
    flex-direction: row;
}

#label_browse_or {
    margin-left: 30px;
    margin-right: 30px;
}

#fm_body {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

#fm_nav {
    width: 30%;
    margin-right: 5px;
    height: 300px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: scroll;
    text-overflow: ellipsis;
}

#fm_nav *:hover {
    background-color: rgba(100, 159, 248, 0.379);
}

#fm_nav *:active {
    background-color: rgb(100, 159, 248);
}

#fm_viewer {
    width: 70%;
    height: 300px;
}

#fm_file_info {
    display: flex;
    flex-direction: row;
}

#fm_filename {
    width: 31%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#fm_send_download_clear {
    width: 40%;
}

#fm_file_size {
    width: 30%;
    text-align: right;
}

#fm_status_box {
    margin-top: 5px;
    margin-bottom: 5px;
}

#fm_transfer_info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#fm_transfer_dur {
    width: 25%;
}

#fm_transfer_progress {
    width: 40%;
}

#fm_transfer_size {
    width: 35%;
    text-align: right;
}